<html>
    <head>
        <title>Midtown Public Library | Authors</title>
    </head>
    <body>
        <h1>Welcome to Midtown Public Library! | Authors</h1>

        <h2>Catalog | View All Authors</h2>
        {% if all_authors is not empty %}
            {% for author in all_authors %}
                <p><a href="/edit_author/{{ author.getId }}">{{ author.getTitle }}</a></p>
            {% endfor %}
        {% endif %}
    </body>
</html>
