<html>
    <head>
        <title>Midtown Public Library | Home</title>
    </head>
    <body>
        <h1>Welcome to Midtown Public Library! | Home</h1>

        <h2>Add A Book</h2>
        <form action="/add_book" name="add_book" method="post">
            <label for="title">Add A Book: </label>
            <input type="title" name="title" type="text" required>

            <button type="submit" name="button">Add Book</button>
        </form>

        <h2>Add An Author</h2>
        <form action="/add_author" name="add_author" method="post">
            <label for="name">Add An Author: </label>
            <input type="name" name="name" type="text" required>

            <button type="submit" name="button">Add Author</button>
        </form>

        <h2>Catalog | View All Books</h2>
        {% if all_books is not empty %}
            {% for book in all_books %}
                <p><a href="/edit_book/{{ book.getId }}">{{ book.getTitle }}</a></p>
            {% endfor %}
        {% endif %}
    </body>
</html>
