<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Welcome Midtown Public Library! | Home</title>
    </head>
    <body>
        <h1>Midtown Public Library | Catalog</h1>
        <p><a href="/patron">Patrons click here</a></p>
        <p><a href="/librarian">Librarians click here</a></p>
    </body>
</html>
